* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex: 1;
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.middle {
  height: 100vh;
}

.end {
  height: 100vh;
}

video {
  display: block;
  margin: auto;
  height: 100vh;
  width: 100vh;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  object-fit: fill;
}

.intro h3 {
  position: absolute;
  display: block;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: grey;
}

.middle h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: grey;
}

.end h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: grey;
}
